PORT=":<HTTP_LISTEN_PORT>"default server port that gin-gonic/gin listens to (eg. ":4000", ":3000").
DB_URL="host=<DB_HOST_URL> user=<DB_USER> password=<DB_PASSWORD> dbname=<DB_NAME> port=<DB_PORT> sslmode=disable"
ENVIRONMENT=<"developement", "production", "stage">
